.select-button {
  /* margin-right: 0.3rem; */
  margin-bottom: 8px;
}

.btn-color {
  color: #fff; /* Change to white */
  background-color: #fff;
  border-color: #007bff;
}

.btn-color-active {
  color: #0000;
  background-color: #0000;
  border-color: #0000;
}
